@using GameStoreMVC.Models
@using GameStoreTwo;

@model GamesPO
@{
    /**/

    ViewBag.Title = "CreateGame";
}

<h2 style="font-family:fantasy ">CreateGame</h2>

<div class="col-md-12">
    @using (Html.BeginForm("CreateGame", "Game", FormMethod.Post))
    {
        <div class="form-horizontal" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            @Html.LabelFor(model => Model.GameName)

            <div class="form-group">
                @*Creates a textbox that allows you to name the game*@
                @Html.TextBoxFor(model => Model.GameName, new { @class = "form-control" })

                @*Create a Validation Message if there is no information or if the given information is incorrect*@
                @Html.ValidationMessageFor(model => Model.GameName, "", new { @class = "label label-danger" })
            </div>

            @Html.LabelFor(model => Model.System)
            <div class="form-group">

                @*Creates a Drop Down List that allows you to chose the system for the game*@
                @Html.DropDownList("System", new SelectList(Enum.GetValues(typeof(GamesDAO.System))), "Select System", new { @class = "form-control" })

                @*Create a Validation Message if there is no System selected*@
                @Html.ValidationMessageFor(model => Model.System, "", new { @class = "label label-danger" })
            </div>

            @Html.LabelFor(model => Model.Genre)
            <div class="form-group">
                @*Creates a textbox that allows you to name the game's genre*@
                @Html.TextBoxFor(model => Model.Genre, new { @class = "form-control" })

                @*Create a Validation Message if there is no information or if the given information is incorrect*@
                @Html.ValidationMessageFor(model => Model.Genre, "", new { @class = "label label-danger" })
            </div>

            @Html.LabelFor(model => Model.ReleaseDate)
            <div class="form-group">
                @*Creates a textbox that allows you to name the game's release date*@
                @Html.TextBoxFor(model => Model.ReleaseDate, new { @class = "form-control" })

                @*Create a Validation Message if there is no information or if the given information is incorrect*@
                @Html.ValidationMessageFor(model => Model.ReleaseDate, "", new { @class = "label label-danger" })
            </div>

            @Html.LabelFor(model => Model.Price)
            <div class="form-group">
                @*Creates a textbox that allows you to name the game's price*@
                @Html.TextBoxFor(model => Model.Price, new { @class = "form-control" })

                @*Create a Validation Message if there is no information or if the given information is incorrect*@
                @Html.ValidationMessageFor(model => Model.Price, "", new { @class = "label label-danger" })
            </div>

            @*Button that allows you to Submit the information to the database*@
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>Submit</button>
        </div>
    }
</div>